html{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #6d597a;
}

/* splash screen css starts here  */
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #e4eff2 url("https://media.giphy.com/media/xTk9ZvMnbIiIew7IpW/giphy.gif") no-repeat center center;
    z-index: 99999;
}
/* splash screen css ends here  */

/* navbar css starts here  */
.bg-light{
    background-color: #f2e9e4!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #5f6368!important;
}

.nav-link{
    color: #5f6368!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #f3f1f1;
}
/* navbar css ends here  */

/* here content css starts here  */
.hero-content{
    height: 100vh;
    background-color: pink;
    color: black;
    padding: 2rem;
    border-bottom-left-radius: 45rem;
    border-bottom-right-radius: 45rem;
    margin-bottom: 0.5vh;
}

.hero-img{
    height: 68vh;
    width: 83%;
}

@media only screen and (max-width: 766px) {
    .hero-img {
      display: none;
    }
}

.get-started{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #fff;
    color: #039be5!important;
    transition: 0.3s;
}

.get-started:hover{
    text-decoration: none;
    background-color: #bfdff0;
    
}
/* here content css starts here  */

/* get-started-buttons css starts here*/
.get-started-content{
    height: 60vh;
    background-color: #ff8a65;
    border-top-left-radius: 42rem;
    border-top-right-radius: 42rem;
    border-bottom-right-radius: 42rem;
    border-bottom-left-radius: 42rem;
}

.get-started-content .row{
    padding: 25vh 0;
}

.get-started-content a{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #039be5;
    color: #fff!important;
    transition: 0.3s;
}

.get-started-content a:hover{
    background-color: #017ab6;
    text-decoration: none;
}
/* get-started-buttons css end here*/

/* footer css starts here */
/* footer */
.fa:hover {
  color: red;
   transform:scale(1.3);


}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa {
  padding: 15px;
  font-size: 12px;
  width: 40px;
   height: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.footer{
  background-color: black;
    padding: 5px;

}
/* footer css ends here  */